<ion-navbar *navbar primary>
  <ion-title>Fact Game</ion-title>
   <ion-buttons end>
        <button (click)="helpModal()" id="user-profile">
            <ion-icon name="help-circle"></ion-icon>
        </button>
        <button (click)="home()" *ngIf="!edit">
            <ion-icon name="pause"></ion-icon>
        </button>
    </ion-buttons>
</ion-navbar>
<ion-toolbar primary padding>
	<ion-row>
		<ion-col width-50 *ngIf="!edit">
			<p light style="font-size: 30px">{{ glassCoin }} <img src="build/img/glasscoin.png" style="max-width: 30px ; max-height: 30px;"></p>
		</ion-col>
		<ion-col width-50 *ngIf="!edit">
			<div style="margin-top:20px">
			<img *ngFor="#image of images" src="build/img/{{ image }}" style="max-width: 20px ; max-height: 20px;">
			</div>
		</ion-col>
	</ion-row>
</ion-toolbar>
<ion-content class="extract-facts">
 <h4 text-center>{{ note.title }}</h4>
      <h5 text-center>{{ note.topic }}</h5>
  	<div padding>
  	<ion-card  *ngFor="#fact of factGameNote"style="background: #FF4081" style="margin:10px;padding:0px;">
  		<div padding>
		<p style="font-size: 18px;">{{ fact.idea}}.</p>
		</div>
		<ion-item [style.background]="fact.color">
		<ion-textarea style="font-size: 18px;color: #ffffff;" rows="6" [(ngModel)]="fact.answer" placeholder="Write the fact or answer here"></ion-textarea>
		</ion-item>  		
	 </ion-card>
	 <button primary [hidden]="finished" outline block (click)="nextFact()">Load Next Idea</button>

   <button danger fab fab-bottom fab-right (click)="save()" style="margin-bottom: 50px;" class="fixed"><ion-icon name="checkmark"></ion-icon></button>
     </div>
</ion-content>
