<ion-content padding class="welcome-message" style="background: url(build/img/login_bg.png) no-repeat center bottom; background-color:#3F51B5;background-size:100%;">
	<div text-center style="margin-top: 30%;">
		<h1 light text-center>Welcome {{ data.username }}</h1>
		<p  light text-center style="font-size: 18px">Your {{ data.no_of_days }} days access is now activated</p>
		<p light text-center style="font-size: 18px">You have also received =N={{ data.gift_card }} Gift Card and {{ data.glass_coin }} GLASS Coins</p>
		<button danger (click)="continue()">Continue</button>
	</div>
</ion-content>
