<ion-navbar *navbar primary>
  <ion-title>Gift Card</ion-title>
</ion-navbar>
<ion-content padding class="gift-card">
 <div text-center>
  <img src="build/img/gift.png" style="margin-left: auto;margin-right: auto">
  <h4 text-center>You have</h4>
  <h1 text-center>=N= {{ data.gift_card }}</h1>
  <h4 text-center>In your Gift Card</h4>
  <h5 text-center danger>{{ message }}</h5>
  <p>You must have a minimum or multiple of =N= 1000 <i>(No Commas)</i> on your Gift Card to spend</p>
	<form>
      <ion-item>
        <ion-input type="text" [(ngModel)]="phone" placeholder="Enter Phone Number e.g. 23481****"></ion-input> 
      </ion-item> 
			<ion-item>
			  <ion-input type="text" [(ngModel)]="amount" placeholder="Enter amount"></ion-input> 
			</ion-item> 
      <ion-item>
        <ion-label style="font-size:16px">Select Merchant</ion-label>
        <ion-select [(ngModel)]="merchant">
          <ion-option selected value="jumia">Jumia</ion-option>
          <ion-option value="game">Game</ion-option>
          <ion-option value="spar">Spar</ion-option>
          <ion-option value="dealdey">DealDey</ion-option>
          <ion-option value="wara">Wara Cakes </ion-option>
          <ion-option value="sweet%20kiwi">Sweet Kiwi </ion-option>
          <ion-option value="tripican">Tripican</ion-option>
          <ion-option value="startimes">Startimes</ion-option>
          <ion-option value="smile">Smile</ion-option>
          <ion-option value="samsung">Samsung</ion-option>
          <ion-option value="africareeds">AfricaReeds</ion-option>
        </ion-select>
      </ion-item>
	</form>
  <button danger (click)="withdraw()">Spend</button>
  </div>
</ion-content>
