// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/page1/page1";

@import "../pages/page2/page2";

@import "../pages/page3/page3";

.cardimg{
	max-width: 32px;
	max-height: 32px;
	
}
.center {
	margin-right:auto;
	margin-left:auto;
}
.no-border {
	border:none;
}
.fixed {
	position:fixed;
}
.item-inner{
	border:none;
}
.swiper-pagination-bullet {
	background:#FF4081;
}