<ion-navbar *navbar primary>
  <ion-title>Settings</ion-title>
</ion-navbar>

<ion-content class="settings" style="background: #fafafa;">
  <ion-list>
	  <ion-list-header>
	    <b>BASIC INFORMATION</b>
	  </ion-list-header>
	  <ion-item>
	  	<p item-right>Adeniyi Adejonses Fadeyi</p>
	  	<p dark style="font-size: 12px;">FIRST NAME</p>
	  </ion-item>
	  <ion-item>
		<p item-right>Male</p>
	  	<p dark style="font-size: 12px;"><b>SEX</b></p>
	  </ion-item>
	  <ion-item>
	  	<p item-right><b>+2348141129804</b></p>
	  	<p dark style="font-size: 12px;"><b>PHONE NUMBER</b></p>
	  </ion-item>
	</ion-list>
	<ion-list>
	  <ion-list-header>
	    <b>BASIC INFORMATION</b>
	  </ion-list-header>
	  <ion-item>
	  	<p item-right>Adeniyi Adejonses Fadeyi</p>
	  	<p dark style="font-size: 12px;">FIRST NAME</p>
	  </ion-item>
	  <ion-item>
		<p item-right>Male</p>
	  	<p dark style="font-size: 12px;"><b>SEX</b></p>
	  </ion-item>
	  <ion-item>
	  	<p item-right><b>+2348141129804</b></p>
	  	<p dark style="font-size: 12px;"><b>PHONE NUMBER</b></p>
	  </ion-item>
	</ion-list>
</ion-content>
