<ion-content padding class="license" style="background: url(build/img/login_bg.png) no-repeat center bottom; background-color:#3F51B5;background-size:100%;">
	<div style="margin-top:65%">
<button *ngIf="flag == true" style="float: right;background:none;box-shadow: none;" (click)="close()"><ion-icon light name="close"></ion-icon></button>
	<h4 *ngIf="flag == true"  light text-center>Renew Access</h4>
	<h4 *ngIf="flag != true" light text-center>Activate the app with <br> GLASS ACCESS CARD</h4>
	<div text-center style="color: #ff6600;">{{ error }}</div>
	<form>
			<ion-item>
			  <ion-input type="text"[(ngModel)]="license_key" placeholder="Enter your GLASS Access code"></ion-input> 
			</ion-item> 
	</form>
	<button danger block (click)="checkLicense()">Submit</button>
	</div>
</ion-content>
