<ion-toolbar primary >
  <ion-title>View Note</ion-title>
</ion-toolbar>

<ion-content padding class="view-note" style="background: #f9f9f9;">
	
	<h3 text-center>{{ note.title }}</h3>
	<h4 text-center>{{ note.topic }}</h4>
	<button (click)="addNext()" primary *ngIf="finished === false" style="float: right;"><ion-icon name="arrow-forward"></ion-icon></button>
	<button (click)="prev()" style="float: left;" primary *ngIf="start === true"><ion-icon name="arrow-back"></ion-icon></button>

	<h5 text-center>{{index +  1}} / {{ total }}</h5>

<div style="clear: both;"></div>
  <ion-card style="background: #FF4081" style="margin:10px;padding:0px;">
	  <div>
	  <div style="background: #FF4081">
	  	<p light padding animated fadeIn style="font-size: 18px;">{{ facts.idea}}</p>
	  </div>
	  	<p dark padding animated fadeIn style="font-size: 18px;">{{ facts.answer }}</p>
	  </div>
	</ion-card>
	<div>
	<!-- <button primary block (click)="clickNote()">Start Game</button> -->
	</div>
	<div>
	<button primary outline block (click)="later()">Done</button>
	</div>
	<div style="margin-top:20px;">
	<button danger outline block (click)="editNote()">Edit</button>
	</div>
</ion-content>
