<ion-content padding style="background: rgba(0,0,0,0.5);" scrollbar-x="false" scroll="false">
<button style="float: right;background:none;box-shadow: none;" (click)="close()"><ion-icon light name="close"></ion-icon></button>
<h4 text-center light style="margin-top:30%">How to Identify Ideas</h4>
    <ul style="list-style-type: none;margin-left: 0px;padding-left: 0px;">
        <li style="background: none;">
            <p light>1) First, you have to decide if a sentence/fact is relevant or not</p>
        </li>
        <li style="background: none;">
            <p light>2) Then, turn the fact into Idea Question by asking yourself What question could I be asked that would make me provide this fact as an answer?"</p>
        </li>
        <li style="background: none;">
            <p light>3) Now, identify the Idea in each Idea Question by asking yourself What does this question want to know?"</p>
            <ol style="list-style-type: circle;">
                <li><h6 light><b>Example</b></h6></li>
                <li style="list-style-type: circle;">
                    <p light><b>Fact:</b> Kelvin was born in Canada</p>
                </li>
                <li>
                <p light><b>Idea Question:</b> Where was Kelvin born?</p>
                </li>
                <li>
                <p light><b>Idea:</b> Kelvin's birthplace</p>
                </li>
            </ol>
        </li>

        <li style="background: none;">
            <p light>4) You can now write either the Idea Question or the Idea for the fact</p>
        </li>
        <ion-buttons>
    <button small>Don't Show again</button>
    <button small>Close</button>

    </ion-buttons>
    </ul>
</ion-content>