<ion-content padding primary style="background: url(build/img/tree.jpg) no-repeat center top;" scrollbar-x="false" scroll="false">
<h2 text-center light style="margin-top:50%">Bravo! {{ mydata.first_name }}</h2>
    <p text-center light>You have earned</p>
    
    <p text-center light style="font-size: 24px">{{ glass_coin }} <img src="build/img/glasscoin.png" style="max-width: 24px ; max-height: 24px;"></p>
    <p text-center light>You can now view your GLASS Note</p>
      <button padding round primary block (click)="viewNote()">View Note</button>
</ion-content>