<ion-content padding style="background:url(build/assets/image/bg01.jpg) no-repeat center top;background-size: 100% 100%;" scrollbar-x="false" scroll="false">
<button style="float: right;background:none;box-shadow: none;" (click)="close()"><ion-icon light name="close"></ion-icon></button>
<div style="margin-top: 30%">
	<h2 text-center light>{{ note.title }}</h2>
	<h3 text-center light>{{ note.topic }}</h3>
	<div style="margin-left: auto;margin-right: auto">
	</div>
	<button danger block (click)="continue()">Continue Note</button>
</div>
</ion-content>