<ion-content padding style="background:url(build/assets/image/deep-space.jpg) no-repeat center top;background-size: 100% 100%" scrollbar-x="false" scroll="false">
<button style="float: right;background:none;box-shadow: none;" (click)="close()"><ion-icon light name="close"></ion-icon></button>
	<div style="margin-top:30%">
	<h2 text-center light>{{ note.title }}</h2>
	<h3 text-center light>{{ note.topic }}</h3>
	<div style="margin-left: auto;margin-right: auto">
	<img src="build/img/{{ image }}" width="40%" style="margin-left: 30%;margin-top: 10%;" />
	</div>
	<div text-center style="margin-top: 10%;">
	<p *ngIf="level > 0" light style="font-size: 22px">You are now a <b> {{ quotes[level] }} </b> in this topic</p>
	<p *ngIf="level == 0" light  style="font-size: 22px">You have not played this note</p>

	<div *ngIf="level < 10">
		<button *ngIf="level > 0" danger (click)="playgame()">Play Game</button>
		<button *ngIf="level == 0" danger (click)="playgame()">Start Game</button>
		<button light (click)="viewNote()">View Note</button>
	</div>
	<div *ngIf="level == 10">
		<button *ngIf="level > 0" danger (click)="reactivate()">Reactivate Note</button>
	</div>
	</div>
	</div>
</ion-content>