<ion-content class="login" scrollY="false" scroll="false" style="background: url(build/img/citi3.png) no-repeat center bottom; background-color:#E91e63;background-size:100%;">
	<ion-slides pager light primary>
		<ion-slide padding>
			<img src="build/img/studnet.png" style="max-width: 250px">
			<div>
			<h1 light text-center>Add Notes</h1>
			<p  text-center light style="font-size: 15px;">Play the Knowledge Acquisition Game to convert your Class Notes and Textbooks into GLASS NOTES</p>
			</div>
		</ion-slide>
		<ion-slide padding style="background: url(build/img/citi3.png) no-repeat center bottom;background-color: #9c27b0;background-size: 100%">
			<img src="build/img/05.png" class="animated bounce" style="max-width: 250px">
			<h1 light>Play Games</h1>
			<p text-center light style="font-size: 15px;">GLASS then automatically converts your GLASS NOTES into Knowledge Reinforcement Games and lets you earn GLASS POINTS for playing them</p>
		</ion-slide>
		<ion-slide padding style="background: url(build/img/citi3.png) no-repeat center bottom;background-color: #03a9f4;background-size: 100%">
			<img src="build/img/gift.png" class="animated bounce" style="max-width: 200px">
			<h1 light>Earn Rewards</h1>
			<p  text-center light style="font-size: 15px;">Use your GLASS POINTS to earn GLASS GIFT CARDS and shop for anything you want.</p>
		</ion-slide>
		<ion-slide padding style="background: url(build/img/citi3.png) no-repeat center bottom;background-color: #3F51B5;background-size: 100%">
			<img src="build/img/glass1.png" style="max-width: 250px ">		
			<div style="margin-top: 40px;">
			<button light (click)="login()">Login with Facebook</button>
			<!-- <button light (click)="logout()">Login with Facebook</button> -->
			</div>
		</ion-slide>
	</ion-slides>
</ion-content>
